/* this is the contact.css file */

/*--------------------------------------------
*  The Basic Reset
--------------------------------------------*/

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div, p {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------
*  Headers
--------------------------------------------*/

h1 {
    color: white;
    display: inline;
    font-family: Futura, Arial, "Times New Roman";
    margin: 0;
    padding: 0;
}

h2 {
    border: 0;
    color: white;
    font-size: 75px;
    margin: 0;
    padding: 15px 0 0 15px;
}

/*--------------------------------------------
*  Basic Elements
--------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

/*--------------------------------------------
*  Nav Bar
--------------------------------------------*/

#nav {
    background-color: black;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navs {
    color: white;
    display: inline;
    height: 100%;
}

.navil, .navir {
    color: white;
    display: inline;
    height: 100%;
    transition: color 0.3s ease-out;
}

.navil:hover, .navir:hover {
    color: gray;
}

.navil {
    margin-right: 40px;
}

.navir, .navs {
    margin-left: 40px;
}

/*--------------------------------------------
*  Body
--------------------------------------------*/

body {
    background: url(Images/congruent_outline.png);
}