/* this is main.css */

/*--------------------------------------------
*  The Basic Reset
--------------------------------------------*/

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div, p {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------
*  Headers
--------------------------------------------*/

h1 {
    color: white;
    display: inline;
    font-family: Futura, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
}

h2 {
    border: 0;
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 15px;
}

/*--------------------------------------------
*  Basic Elements
--------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

/*--------------------------------------------
*  Nav Bar
--------------------------------------------*/

.fa-home {
    margin-right: 10px;
}

.fa-folder {
    margin-right: 10px;
}

.fa-book {
    margin-left: 10px;
}

.fa-pencil {
    margin-left: 10px;
}

#nav {
    background-color: black;
    margin: 0 auto;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.navs {
    color: white;
    display: inline;
    height: 100%;
}

.navil, .navir {
    color: white;
    display: inline;
    height: 100%;
    transition: color 0.3s ease-out;
}

.navil:hover, .navir:hover {
    color: gray;
}

.navil, .navs {
    margin-right: 40px;
}

.navir {
    margin-left: 40px;
}

/*--------------------------------------------
*  Intro Section
--------------------------------------------*/

#parallax {
    background-image: url(Images/binary.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: black;
    height: 100%;
    opacity: 0.5;
}

#intro-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#intro {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}

#button {
    background: linear-gradient(to bottom, #42c9e5, blue);
    border: 1px solid blue;
    border-radius: 15px;
    height: 50px;
    margin-top: 30px;
    width: 200px;
    z-index: 1;
}

#button:active {
    background: linear-gradient(to top, #42c9e5, blue);
}

#button-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 15px;
    padding: 16px 0;
    text-align: center;
}

#button-p:hover {
    color: black;
}

/*--------------------------------------------
*  Box Headers
--------------------------------------------*/

.box1 {
    background-color: gray;
    height: 150px;
    width: 100%;
}

.box2 {
    background-color: #333;
    height: 150px;
    width: 100%;
}

/*--------------------------------------------
*  Programming Section
--------------------------------------------*/

#parallax1 {
    background-image: url(Images/computer-programming.jpeg);
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#programming-container {
    margin: 150px auto;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

#programming-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}

#coding {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    margin-top: 50px;
}

/*--------------------------------------------
*  Reading Section
--------------------------------------------*/

#parallax2 {
    background-image: url(Images/reading.jpg);
    height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reading-container {
    margin: 150px auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

#reading-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}

.images {
    margin-top: 50px;
    width: 100%;
}

#harry-potter {
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 40px;
    height: 300px;
}

#lord-of-the-rings {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
}

#mistborn {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    margin-top: 20px;
    margin-left: 320px;
}

/*--------------------------------------------
*  Movies Section
--------------------------------------------*/

#parallax3 {
    background-image: url(Images/movies.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#movies-container {
    margin: 200px auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

#movies-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}

#marvel {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    margin-right: 150px;
}

#inception {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
}

/*--------------------------------------------
*  Video Games Section
--------------------------------------------*/

#parallax4 {
    background-image: url(Images/video-games.png);
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#video-games-container {
    margin: 150px auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

#video-games-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}

#zelda {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    margin-right: 100px;
}

#halo {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
}

/*--------------------------------------------
*  Footer
--------------------------------------------*/

#footer {
    background-color: black;
    height: 50px;
}

#footer-p {
    color: white;
    float: left;
    font-family: Futura, Arial, Sans-Serif;
    padding-top: 15px;
    padding-left: 20px;
}

#footer-copyright {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}

