/* this is my projects.css file */

/*--------------------------------------------
*  The Basic Reset
--------------------------------------------*/

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div, p {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------
*  Headers
--------------------------------------------*/

h1 {
    color: white;
    display: inline;
    font-family: Futura, Arial, "Times New Roman";
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 1px solid white;
    color: white;
    font-size: 75px;
    margin: 15px 0 0 20px;
    padding: 0px;
    width: 60%;
}

/*--------------------------------------------
*  Basic Elements
--------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------
*  Nav Bar
--------------------------------------------*/

.fa-home {
    margin-right: 10px;
}

.fa-folder {
    margin-right: 10px;
}

.fa-book {
    margin-left: 10px;
}

.fa-pencil {
    margin-left: 10px;
}

#nav {
    background-color: black;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navs {
    color: white;
    display: inline;
    height: 100%;
}

.navil, .navir {
    color: white;
    display: inline;
    height: 100%;
    transition: color 0.3s ease-out;
}

.navil:hover, .navir:hover {
    color: gray;
}

.navil, .navs {
    margin-right: 40px;
}

.navir {
    margin-left: 40px;
}

/*--------------------------------------------
*  Body
--------------------------------------------*/

body {
    background: url(Images/low_contrast_linen_@2X.png);
}

/*--------------------------------------------
*  Projects
--------------------------------------------*/

#container {
    height: 700px;
    margin-top: 20px;
    overflow: hidden;
    width: 60%;
}

.project {
    float: left;
    font-family: Arial, "Times New Roman";
    margin-top: 140px;
    margin-left: 20px;
}
.project:hover {
    text-decoration: underline;
}

.project:active {
    color: gray;
}

#checkers {
    border: 2px solid white;
    border-radius: 10px;
    float: right;
    height: 300px;
}

#checkers:hover {
    border: 5px solid white;
    box-shadow: 10px 5px 15px black;
}