/* this is my projects.css file */

/*--------------------------------------------
*  The Basic Reset
--------------------------------------------*/

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div, p {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------
*  Headers
--------------------------------------------*/

h1 {
    color: white;
    display: inline;
    font-family: Futura, Arial, "Times New Roman";
    margin: 0;
    padding: 0;
}

h2 {
    border: 0;
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 15px;
}

h3 {
    color: white;
    font-family: Arial, "Times New Roman";
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*--------------------------------------------
*  Basic Elements
--------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

/*--------------------------------------------
*  Nav Bar
--------------------------------------------*/

.fa-home {
    margin-right: 10px;
}

.fa-folder {
    margin-right: 10px;
}

.fa-book {
    margin-left: 10px;
}

.fa-pencil {
    margin-left: 10px;
}

#nav {
    background-color: black;
    margin: 0 auto;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.navs {
    color: white;
    display: inline;
    height: 100%;
    text-decoration: underline;
}

.navil, .navir {
    color: white;
    display: inline;
    height: 100%;
    transition: color 0.3s ease-out;
}

.navil:hover, .navir:hover {
    color: gray;
}

.navil, .navs {
    margin-right: 40px;
}

.navir {
    margin-left: 40px;
}

/*--------------------------------------------
*  Box Headers
--------------------------------------------*/

.box1 {
    background-color: gray;
    height: 150px;
    width: 100%;
}

.box2 {
    background-color: #333;
    height: 150px;
    width: 100%;
}

/*--------------------------------------------
*  Parallax
--------------------------------------------*/

#parallax {
    background-image: url(Images/projects.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax1 {
    background-image: url(Images/Checkers.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: black;
    height: 100%;
    opacity: 0.5;
}

#checkers-container {
    margin: 300px auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

#checkers-p {
    color: white;
    font-family: Futura, Arial, Sans-Serif;
    font-size: 30px;
    width: 100%;
    z-index: 1;
}