/* this is resume.css */

/*--------------------------------------------
*  The Basic Reset
--------------------------------------------*/

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div, p {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

/*--------------------------------------------
*  Headers
--------------------------------------------*/

h1 {
    color: white;
    display: inline;
    font-family: Futura, Arial, "Times New Roman";
    margin: 0;
    padding: 0;
}

h2 {
    border: 0;
    color: white;
    font-size: 75px;
    margin: 0;
    padding: 15px 0 0 15px;
}

/*--------------------------------------------
*  Basic Elements
--------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: white;
}

/*--------------------------------------------
*  Nav Bar
--------------------------------------------*/

.fa-home {
    margin-right: 10px;
}

.fa-folder {
    margin-right: 10px;
}

.fa-book {
    margin-left: 10px;
}

.fa-pencil {
    margin-left: 10px;
}

#nav {
    background-color: black;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navs {
    color: white;
    display: inline;
    height: 100%;
    text-decoration: underline;
}

.navil, .navir {
    color: white;
    display: inline;
    height: 100%;
    transition: color 0.3s ease-out;
}

.navil:hover, .navir:hover {
    color: gray;
}

.navil {
    margin-right: 40px;
}

.navir, .navs {
    margin-left: 40px;
}

/*--------------------------------------------
*  Body
--------------------------------------------*/

body {
    background: url(Images/escheresque_ste_@2X.png);
}

#resume-file {
    margin-top: 20px;
    margin-left: 19px;
}
#resume-file:hover {
    text-decoration: underline;
}

#resume-img {
    border: 10px solid black;
    margin: 20px 0 30px 20px;
    transition: border 0.3s ease-out;
}

#resume-img:hover {
    border: 10px solid #699ceb;
}

#resume-img:active {
    transform: scale(0.9);
}

/*--------------------------------------------
*  Footer
--------------------------------------------*/

#footer {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 50px;
}

#footer-p {
    color: white;
    float: left;
    font-family: Futura, Arial, Sans-Serif;
    padding-top: 15px;
    padding-left: 20px;
}

#footer-copyright {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}